.quote-wr {
    text-align: center;
    cursor: default;
    padding: 0 2rem;
}

.author {
    font-size: 0;
    transition: font-size 0.3s linear;
    ;
}

.quote-wr:hover > .author {
    font-size: 0.75rem;
}