.np-wr {
    height: 100%;
    padding: 2rem;
}

.np-img {
    max-width: 200px;
    padding: 2rem;
    margin-bottom: auto;
}

.np-cn {
    margin-bottom: auto;
    gap: 1rem;
}

.np-prompt {
    font-size: 3rem;
}

.np-inp {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid var(--white);
    outline: none;
    caret-color: var(--white);
}

.np-inp:focus {
    outline: none;
    border-color: white;
}

.btn.np-btn {
    width: fit-content;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}