.np-wr {
    height: 100%;
    padding: 2rem;
}

.np-img {
    max-width: 200px;
    padding: 2rem;
    margin-bottom: auto;
}

.np-cn {
    margin-bottom: auto;
    gap: 1rem;
}

.np-prompt {
    font-size: 3rem;
}

.np-inp {
    font-size: 2rem;
}

.btn.np-btn {
    width: fit-content;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}