.home-wr {
    background-color: var(--page-bg);
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

.home-header {
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    right: 2rem;
}

.home-logo {
    max-width: 2.5rem;
    margin-right: 2.5rem;
}

.home-footer {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
}