.btn {
    display: flex;
    justify-content: center;
    border-color: var(--white);
}

.btn:hover {
    transform: scaleX(1.1);
    border-color: var(--white);
}

/* .btn-primary {
    background-color: var(--btn);
}

.btn-primary:hover {
    background-color: var(--btn-hov);
} */

.btn-outline {
    color: var(--white);
}

.btn-outline:hover {
    color: var(--white);
}

.btn-wt-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.btn-icon {
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.btn-icon:hover {
    background-color: transparent;
    color: var(--white);
    transform: scale(1.05);
    
}

/* .btn-link {
    color: var(--white);
    text-decoration: none;
}

.btn-link:hover {
    color: var(--white);
    text-decoration: none;
    transform: scale(1.07);
    transition: transform 1s ease;
} */

.comp-btn {
    background-color: transparent;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
}

.comp-btn-i {
    font-size: 1.75rem;
}

.comp-btn:hover > .comp-btn-i {
    transform: scale(1.07);
    transition: transform 1s ease;
}