@import url("https://matrixui.netlify.app/assets/stylesheet.css");
@import url("./variables.css");
@import url("./common.css");
@import url("./buttons.css");
@import url("./flex.css");

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

.body {
    color: var(--white);
    font: var(--font);
}

.App {
    background: url("https://source.unsplash.com/random/?nature/1360×780");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}