/***** fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /*** fonts ***/
    --font: 'Roboto', sans-serif;

    /*** colors ***/
    --white: #fff;
    --grey1: #bbb;
    --red: #ff0000;
    --comp-bg: #33333350;
}