/***** fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /*** fonts ***/
    --font: 'Roboto', sans-serif;

    /*** colors ***/
    --white: #fff;
    --grey1: #bbb;
    --grey2: #777;
    --red: #ff0000;
    --toggle: #0060df;
    --page-bg: #00000060;
    --ob-msg-bg: #11111170;
    --comp-bg: rgba(33, 37, 41, 0.2);
    --rem-bg: #22222299;
}